
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins" , sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/home2.jpg");
  padding: 0;
  min-height: 100%;
  display: block;
}

.default-paragraph{
    margin-top: 2%;
}

.welcome-text{
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: 1;
  font-size: 1.5em;
  margin-inline-start: 7%;
  margin-inline-end: 50%;
  color: #A1C298;
  text-shadow: 1px 1px 1px #000000;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 7%;
    width: 50%;
  }
}
.interior
{
  margin-top: 15%;
}
.title {
  margin-left: 7%;
  font-size: 3em;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
.title #title-fruits{
  color: #C6E377;
}
.title #title-ontheweb{
  color: #36622B;
}
  .grayscale-min{
    filter:grayscale(35%);
  }
  hr.sep-2 {
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
  }

  .text-white,.hover-text-white:hover{
    color:#fff
  }

  .jumbo{
    font-size:64px
  }


    
    .home{
      color: #fff;
    }
    
    a.aj_btn {
      background: #36622B;
      color: #fff;
      font-weight: 500;
      letter-spacing: 2px;
    }
    
    a.aj_btn:hover{
      background: #fff;
      color: #36622B;
      font-weight: 500;
      letter-spacing: 2px;
    }
    
    .menu-toggle-btn{
      float: right;
      height: 90px;
      line-height: 50px !important;
      color: #fff;
      font-size: 26px;
      display: none !important;
      cursor: pointer;
    }
    button {
      margin-top: 3%;
      animation-duration: 5s;
      animation-name: slideinButton;
      position: relative;
      margin-left: 0%;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
     }
     
     button.learn-more {
      width: 192px;
      height: auto;
     }
     
     button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 48px;
      height: 48px;
      background: #282936;
      border-radius: 25px;
     }
     
     button.learn-more .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff;
     }
     
     button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}
     
     button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 13px 0;
      margin: 0 0 0 29.6px;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
     }
     
     button:hover .circle {
      width: 100%;
     }
     
     button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(16px, 0);
     }
     
     button:hover .button-text {
      color: #fff;
     }
    a{
      color: white;
    }
    
    button:hover {
      background-color: var(--hover-color);
    }
    
    button:hover .arrow {
      background: var(--secondary-color);
    }
    
    button:hover .arrow:before {
      right: 0;
    }
    @keyframes slideinButton {
      from {
        margin-left: 100%;
        width: 50%;
      }
    
      to {
        margin-left: 0%;
        width: 20%;
      }
    }


  
    
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 1200px) {

      .navigation-menu a{
        display: none;
      }
      .bgimg-1.interior{
        margin-top: -10%;
      }

      .default-paragraph{
        font-size: 0.8em;
      }
      .navigation-menu a.icon {
          background-color: #729D39;
        display: block;
        right: 0;
        top: 0;
        position: absolute;
      }
      .bgimg-1{
        display: block;
        left: 20px;
        height: 100%;
      }
      .bgimg-1.active{
        margin-top: 50px;
      }
      .bgimg-1 .content{
        flex-direction: column-reverse;
      }
      button.learn-more .button-text {
        font-size: 60%;
      }
      .interior
      {
        margin-top: 15%;
      }
      .title {
        top: 10%;
        font-size: 1.5em;
      }
      .button-text
      {
        padding: 9px 0;
      }
      button{
        margin-top: 3%;
        animation-duration: 5s;
        animation-name: slideinButton;
        position: relative;
        margin-left: 0%;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
       }
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 100%;
        }
      
        to {
          margin-left: 7%;
          width: 50%;
        }
      }
      @keyframes slideinButton {
        from {
          margin-left: 100%;
          width: 60%;
        }
      
        to {
          margin-left: 0%;
          width: 50%;
        }
      }
      .welcome-text{
        margin-inline-end: 10%;
        border-radius: 1em;
        margin-right: 40%;
      }
    }
    
    @media screen and (max-width: 1200px) {
      .navigation-menu.responsive .icon {
        position: absolute;
        float: right;
        background-color: #729D39;
        right: 0;
        top: 0;
      }
      .navigation-menu.responsive
      {
          display: block;
        width: 100%;
        max-width:300px;
        height: 50%;
        background: #729D39;
        right: 0;
        top: 0;
        padding: 10px 10px;
        box-sizing:border-box;
      }
        a.aj_btn:hover{
          background: #fff;
          color: #36622B;
          font-weight: 500;
          letter-spacing: 2px;
        }
      .navigation-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      
    }

    @media screen and (max-width: 950px) {
        .interior{
            margin-top: 25%;
        }
    }
    @media screen and (max-width: 620px) {
        .interior{
            margin-top: 30%;
        }
    }
    
    
    




  
  