:root {

    /*Colors used in profile page */
    --color-bck-personal-information: #d3f0ad ;
    --color-user-information: #f9f9f9;
    --color-editable-personal-information : #FBF2CF;
    --color-text: #333;
    --color-bck-profile : #C6EBC5 ;
    --color-ranking-information: #A1C298;

    /*Colors used in header */
    --color-bck-logo : #fff;
    --color-bck-header : #729D39;

    /*Colors used in play */
    --color-bck-easy : #DDFFBB;
    --color-bck-medium : linear-gradient(to right, #DDFFBB, #fde88a 50%,  #FD8A8A);
    --color-bck-hard : #FD8A8A;

}

body{
    margin: 0;
    padding: 0;
}